<h1><%= @island.first[:name].upcase %></h1>

<h3>Size_ <%= @island.first[:size] %> km2</h3>

<h3>Region_ <%= @island.first[:region].capitalize %> Ocean </h3>

<h3>Population_ <%= @island.first[:population] %> </h3>

