<h1>
  Welcome 
  <div>
  <%= @new_user.name %>
  </div>
</h1>

<div class="intro">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi modi quo voluptatibus illum nostrum? Eaque voluptates reprehenderit excepturi, modi alias inventore aliquam natus facere voluptatum labore voluptatem quisquam accusamus animi tempore officia fuga repudiandae earum error id tempora. Incidunt corporis sint sequi, nemo atque, molestiae. Molestiae atque ullam ipsa in cum, eius distinctio error, veritatis dolor assumenda expedita dolorem laboriosam obcaecati dolore qui a voluptas! Laboriosam iusto ex, odio quaerat soluta est nesciunt tempore voluptatum!
	</p>
</div>

<div id="create"><h2><%= link_to('click here to join the expedition', user_path(@new_user)) %></h2></div>

<div id="three"></div>